html { 
  background: url(/Master/img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.distributed-top{
	padding-top:40px;
}
.distributed-container{
	background-color:#fff;
	opacity:.9;
}

.distributed-right{
	position:relative;
	float:right;
}
.distributed-left{
	position:relative;
	float:left;
}
.distributed-clear{
	left:-9px;
}
.distributed-nohover:link{text-decoration:none;cursor:pointer;}
.distributed-nohover:visited{text-decoration:none;cursor:pointer;}
.distributed-nohover:hover{text-decoration:none;cursor:pointer;}
.distributed-nohover:active{text-decoration:none;cursor:pointer;}

.distributed-cancel{
	position:relative;
	left:-5px;
}
.distributed-stop{
	position:relative;
	left:65px;
}

.distributed-job{
	position:relative;
	left:5px;
}